body{
    margin: 0;
}

/* Polygon 1 */
.polygon{
    position: absolute;
    width: 1296px;
    height: 823px;
    right: -900px;
    top: -300px;
    background: #FE9900;
    opacity: 0.2;
    transform: rotate(-45deg);
}
.square-dot{
    position: absolute;
    left: 0;
    top: 390px;
}
